header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #7300ff;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
}

header a {
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

header a:hover {
  color: #ccc;
}
