$primary-color: linear-gradient(to right, #92a3fd, #9dceff);
$secondary-color: linear-gradient(to right, #c58bf2, #eea4ce);
$black-color: #1d1617;
$white-color: #fff;
$gray-color: #7b6f72;
$gray-light-color: #ada4a5;
$gray-dark-color: #dddada;
$gray-different: #98a3b3;
$border-color: #f7f8f8;
