@import "../../App.scss";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  .user_info {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 1rem;
    img {
      flex-direction: row;
    }
    span {
      color: $gray-light-color;
    }
    p {
      font-weight: 600;
    }

    .user_info_text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .icons {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    svg {
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
