@import "../../App.scss";

.menu_links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;

  .link {
    display: flex;
    flex-direction: column;
    align-items: center;

    svg {
      &:hover {
        color: $primary-color;
      }
    }
  }
}
